.card__container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5px;
}

.card {
  width: 90%;
  padding: 30px;
  align-items: center;
  border: 1px solid var(--cor-primaria);
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}

.card__detalhes {
  padding: 10px 0;
  display: flex;
  gap: 2%;
}

.card__detalhes span {
  padding: 5px 0px;
}

.ativo,
.inativo {
  padding: 5px 10px !important;
  font-weight: 700;
  border-radius: 10px;
  color: var(--cor-fundo);
}

.ativo {
  background-color: var(--cor-fonte-sucesso);
}

.inativo {
  background-color: var(--cor-fonte-erro);
}
