@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

:root {
  --cor-primaria: #376275;
  --cor-fundo: #072533;
  --cor-fonte-principal: #cbe8f5;
  --cor-fonte-secundaria: #a1bdc9;
  --cor-fonte-sucesso: rgba(136, 250, 136, 0.705);
  --cor-fonte-erro: rgba(251, 82, 82, 0.737);
  --tamanho-titulo: 2.2rem;
  --tamanho-subtitulo: 1.3rem;
  --tamanho-titulo-secundario: 1.8rem;
  --tamanho-texto: 1.2rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

body {
  background-color: var(--cor-fundo);
}

h1 {
  font-size: var(--tamanho-titulo);
}

h2 {
  font-size: var(--tamanho-titulo-secundario);
}

h3 {
  font-size: var(--tamanho-subtitulo);
}

p,
span {
  padding: 10px;
  font-size: var(--tamanho-texto);
  color: var(--cor-fonte-secundaria);
}

h1,
h2,
h3 {
  color: var(--cor-fonte-principal);
}

a {
  cursor: pointer;
  text-decoration: none;
}

main {
  margin-top: 6em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

main .container {
  width: 90%;
  padding: 3em;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

button {
  width: 13em;
  padding: 10px 20px;
  background-color: var(--cor-primaria);
  border: none;
  border: 2px solid #376275;
  border-radius: 5px;
  font-size: var(--tamanho-texto);
  font-weight: 600;
  cursor: pointer;
  color: var(--cor-fonte-principal);
  transition: all 0.2s;
}

button:hover {
  background-color: var(--cor-fundo);
}

form {
  width: 60%;
  margin: 30px 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-size: var(--tamanho-texto);
}

form label {
  color: var(--cor-fonte-principal);
}

input,
textarea {
  width: 100%;
  padding: 10px;
  background-color: transparent;
  color: var(--cor-fonte-principal);
  border: 1px solid var(--cor-primaria);
  border-radius: 5px;
  outline: none;
}

input::placeholder,
textarea::placeholder {
  color: var(--cor-primaria);
}
