@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

:root {
  --cor-primaria: #376275;
  --cor-fundo: #072533;
  --cor-fonte-principal: #cbe8f5;
  --cor-fonte-secundaria: #a1bdc9;
  --cor-fonte-sucesso: rgba(136, 250, 136, 0.705);
  --cor-fonte-erro: rgba(251, 82, 82, 0.737);
  --tamanho-titulo: 2.2rem;
  --tamanho-subtitulo: 1.3rem;
  --tamanho-titulo-secundario: 1.8rem;
  --tamanho-texto: 1.2rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

body {
  background-color: var(--cor-fundo);
}

h1 {
  font-size: var(--tamanho-titulo);
}

h2 {
  font-size: var(--tamanho-titulo-secundario);
}

h3 {
  font-size: var(--tamanho-subtitulo);
}

p,
span {
  padding: 10px;
  font-size: var(--tamanho-texto);
  color: var(--cor-fonte-secundaria);
}

h1,
h2,
h3 {
  margin: 10px 0;
  color: var(--cor-fonte-principal);
}

a {
  cursor: pointer;
  text-decoration: none;
}

main {
  margin-top: 6em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

main .container {
  width: 90%;
  padding: 3em;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.container__colunas {
  width: 100%;
  display: flex;
  gap: 20px;
}

.container__sidebar {
  width: 50%;
  height: fit-content;
  padding: 2rem;
  border: 1px solid var(--cor-primaria);
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}

.container__main {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

main .container__wrap {
  display: flex;
  flex-direction: column;
  justify-content: left;
  gap: 10px;
}

button {
  padding: 10px 20px;
  background-color: var(--cor-primaria);
  border: none;
  border: 2px solid #376275;
  border-radius: 5px;
  font-size: var(--tamanho-texto);
  font-weight: 600;
  cursor: pointer;
  color: var(--cor-fonte-principal);
  text-align: left;
  transition: all 0.2s;
}

.btn {
  text-align: center;
  max-width: 11em;
}

button:hover {
  background-color: var(--cor-fundo);
}

.bg {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #a1bdc998;
}

.bg .bg__container {
  width: 50%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #072533;
}

.bg .bg__container header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 30px 60px;
}

form {
  width: 100%;
  margin: 0px 20px;
  padding: 30px 60px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-size: var(--tamanho-texto);
}

.form__container {
  width: 90%;
  margin: 0.2em 0;
  display: flex;
  flex-direction: column;
}

form .input__individual {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

form .input__grupo {
  display: flex;
  gap: 8px;
}

.input__agrupamento {
  display: flex;
  gap: 10px;
}

form label {
  color: var(--cor-fonte-principal);
}

input,
textarea,
select {
  width: 90%;
  padding: 14px 10px;
  background-color: transparent;
  color: var(--cor-fonte-principal);
  border: 1px solid var(--cor-primaria);
  border-radius: 5px;
  outline: none;
}

select option,
select optgroup {
  background-color: var(--cor-fundo);
  font-size: 14px;
}

input::placeholder,
textarea::placeholder {
  color: var(--cor-primaria);
}

input[type="date"] {
  width: 20%;
}

.input__pesquisa {
  width: 40%;
}
