@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

:root {
  --cor-primaria: #376275;
  --cor-fundo: #072533;
  --cor-fonte-principal: #cbe8f5;
  --cor-fonte-secundaria: #a1bdc9;
  --cor-fonte-sucesso: rgb(136, 250, 136);
  --cor-fonte-erro: rgb(251, 82, 82);
  --tamanho-titulo: 2rem;
  --tamanho-subtitulo: 1.3rem;
  --tamanho-titulo-secundario: 1.7rem;
  --tamanho-texto: 1.2rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

body {
  background-color: var(--cor-fundo);
}

h1 {
  font-size: var(--tamanho-titulo);
}

h2 {
  font-size: var(--tamanho-titulo-secundario);
}

h3 {
  font-size: var(--tamanho-subtitulo);
}

p,
span {
  font-size: var(--tamanho-texto);
  color: var(--cor-fonte-secundaria);
}

h1,
h2,
h3 {
  color: var(--cor-fonte-principal);
}

a {
  cursor: pointer;
  text-decoration: none;
}

main {
  margin-top: 6em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 90%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
