@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

:root {
  --cor-primaria: #376275;
  --cor-fundo: #072533;
  --cor-fonte-principal: #cbe8f5;
  --cor-fonte-secundaria: #a1bdc9;
  --tamanho-titulo: 2rem;
  --tamanho-subtitulo: 1.3rem;
  --tamanho-titulo-secundario: 1.5rem;
  --tamanho-texto: 1.2rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

body {
  background-color: var(--cor-fundo);
}

a {
  cursor: pointer;
  text-decoration: none;
}
