.cards {
  width: 100%;
}

.cards__container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.paginacao {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-top: 1.5rem;
}

.paginacao button {
  font-size: var(--tamanho-texto);
  cursor: pointer;
  transition: background-color 0.2s ease;
}
